<div id="header">
  <h1><%= itemName %></h1>
</div>
<div id="bidInformation">
    <table>
        <tr>
            <td>Current Price: </td>
            <td>$<%= currentBidPrice %></td>
        </tr>
        <tr>
            <td>Highest Bidder: </td>
            <td><%= highestBidderName %></td>
        </tr>
    </table>
    <button type="button">Bid</button>
</div>
<div id="itemInformation">
    <h3>Item Description:</h3>
    <p><%= itemDescription %></p>
</div>