<div id="header">
  <h1>Apple iPhone 5s 16GB</h1>
</div>
<div id="bidInformation">
    <table>
        <tr>
            <td>Current Price: </td>
            <td>$125.66</td>
        </tr>
        <tr>
            <td>Highest Bidder: </td>
            <td>Homer Simpson</td>
        </tr>
    </table>
    <button type="button">Bid</button>
</div>
<div id="itemInformation">
    <h3>Item Description:</h3>
</div>